<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <!-- 
    收集表单数据：
        若：<input type="text"/>,则v-model收集的是value值，用户输入的就是value值。
        若：<input type="radio"/>,则v-model收集的是value值，且要给标签配置value值。
        若：<input type="checkout"/>
            1.没有配置input的value属性，那么收集的就是checked（勾选 or 未勾选，是bool）
            2.配置input的value属性：
                （1）v-model的初始值是非数组，那么收集的就是checked（勾选 or 未勾选，是bool）
                 (2) v-model的初始值是数组，那么收集的就是value组成的数组
        备注：v-model的三个修饰符
                lazy:失去焦点再收集数据
                number：输入字符串转化为有效的数字
                trim:输入首尾空格过滤
   -->

  <!-- 准备好一个容器 -->
  <div id="root">
    <form @submit.prevent="demo">
      <label for="demo">账号:</label>
      <input type="text" id="demo" v-model.trim="userInfo.account">
      <br>
      <label for="password">密码:</label>
      <input type="password" id="password" v-model="userInfo.password">
      <br>
      <label for="age">年龄</label>
      <input type="number" v-model.number="userInfo.age">
      <br>
      <input type="button" value="提交">
      <br>
      <label for="male">男</label>
      <input type="radio" id="male" name="sex"  value="male" v-model="userInfo.sex">
      <label for="female">女</label>
      <input type="radio" id="female" name="sex" value="female" v-model="userInfo.sex">
      <br>
      爱好:
      <input type="checkbox" id="basketball" value="basketball" v-model="userInfo.hobbies">篮球
      <input type="checkbox" id="football" value="football" v-model="userInfo.hobbies">足球
      <input type="checkbox" id="tennis table" value="tennis table" v-model="userInfo.hobbies">网球
      <br>
      <select name="" id="" v-model="userInfo.city">
        <option value="">请选择校区</option>
        <option value="beijing">北京</option>
        <option value="shanghai">上海</option>
        <option value="shenzhen">深圳</option>
        <option value="wuhan">武汉</option>
      </select>
      <br>
      其他信息：<br>
      <textarea v-model.lazy="userInfo.other"></textarea><br>
      <input type="checkbox" v-model="userInfo.agree" >阅读并接受<a href="http://www.atguigu.com">用户协议</a><br>
      <button>提交</button>

    </form>
  </div>
  
  <script>

      new Vue({
          el:'#root',
          data:{  
            userInfo:{
              account:'',
              password:'',
              hobbies:[],
              sex:'male',
              city:'beijing',
              other:'',
              agree:'',
            }
          },
          methods: {
            demo(){
              // console.log(JSON.stringify(this._data));
              console.log(JSON.stringify(this.userInfo))
            
         },}
        })
         
  </script>
</body>
</html>